<header class="primary-container">
  <nav>
    <button class="circle transparent">
      <i>menu</i>
    </button>
    <h5 class="max left-align">My Planning Poker</h5>
  </nav>
</header>

<div class="layout">
  <ng-container *ngIf="issue$ | async as issue">
    <app-poker-table [sessionName]="estimateName" [choiceTable]="['1']" [players]="players" [vote]="vote"
      [issue]="issue" (estimateEvent)="onEstimate($event)">
    </app-poker-table>
    </ng-container>

    <ng-container *ngIf="issues$ | async as issues">

      <app-issues-board [issues]="issues" (selectedIssueEvent)="onSelectedIssue($event)">
      </app-issues-board>
    </ng-container>

</div>

<!--  "['1','2' ,'3','5','8','13','21','?']" -->